body {
  margin: 0;
}

#if {
  background-color: green;
  padding-left: 0px;
  padding-right: 100%;
  margin: 0;
}

#my_menu {
  background-color: #282828;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px 0px;
}

.menuLink {
  padding: 16px 16px;
}

#sobre {
  margin-left: auto;
  margin-right: 0;
}

#my_menu a {
  color: #f1f1f1;
  text-decoration: none;
}

.dropbtn {
  color: white;
  background-color: #282828;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content #dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menuLink:hover {
  background-color: red;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: red;
}
